* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3.5px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(60, 60, 61);
  border-radius: 5px;
  border: 3px solid rgb(182, 181, 181);
}

body {
  background-color: #000;

}

.fondo {
  background-image: url("../img/Fondos//FONDO.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.cabeza {
  height: auto;
}

.main-container {
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  width: 70%;
  margin: 10px auto;
}

.seccion-preload {
  width: 100%;
  height: 600px;
  max-height: 600px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-mapa {
  padding-left: 0px;
  width: fit-content;
  margin-right: 30px;
}

.box-mapa {

  width: 600px;
  height: 600px;

}

.hover-preload {
  margin: 0px 0px;
  width: 100%;
  height: 100%;

}

.boton_personalizado {
  width: auto;
  padding: 15px;
  border: none;
  margin-bottom: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background: rgb(201, 201, 202);
  color: #000;
}

.contenedor {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;

}

.imgresponsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#img2 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 30;
  object-fit: contain;
  object-position: 0px;
}

.img-carrousel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 10px;
  max-width: 800px;
  /*       width: 400px;
      height: 500px; */
  display: flex;
  flex-wrap: nowrap;
}

.botones-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35%;
  align-items: center;
  margin-left: 50px;
  margin-right: 100px;
}

.botones-container img {
  padding: 10px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 4px solid rgb(168, 81, 0);
  background-color: rgba(175, 125, 68, 0.973);

  color: rgb(167, 167, 167);

}

#btn-1:hover {
  cursor: pointer;
}

#btn-2:hover {
  cursor: pointer;
}

#btn-3:hover {
  cursor: pointer;
}

#btn-4:hover {
  cursor: pointer;
}

.botones-container .btn-activo {
  opacity: 1 !important;

}

.botones-container .btn-desact {
  opacity: 0.5 !important;
  border-style: dotted !important;
}

/*   .detalles-img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding:2rem;
      background-color:#ccc;
      height: 400px;
      width: 400px;
      border-radius: 20px;
      max-width: 400px;
      max-height: 400px;

    } */

.detalles-img {
  display: flex;
  align-items: center;
  padding: 10px;
  height: fit-content;
  border-radius: 20px;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  height: auto;
  width: 1000px;
  max-height: 600px;
  min-width: 600px;
  min-height: auto;
  background-color: rgba(138, 138, 138, 0.4);



}

.detalles-img img {
  border-radius: 10px;
  overflow: hidden;
}

.detalles-img h3,
.detalles-img h4 {
  text-align: center;
  font-size: 20px;
}

.geo {
  height: 600px;
  width: 600px;
  max-height: 600px;
  max-width: 600px;
  border-radius: 20px;
}

.fondo {
  margin: 0%;
  padding-left: 0%;
  padding-right: 0%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.fa {
  color: white;
}

.descripcion {
  display: inline-block;
  width: auto;
}

.descripcion2 {
  padding: 3px 50px;
  font-size: 14pt;
  font-family: 'Lato', lato, Lato;
  color: white;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(110, 102, 102, 0.7);
  margin-right: 0%;
  height: 238px;
  overflow: auto;
}

.descripcion1 {
  font-size: 14pt;
  font-family: 'Lato', lato, Lato;
  color: white;
  padding: 3px 50px;
  border-radius: 0px 20px 20px 0px;
  background-color: rgba(110, 102, 102, 0.7);
  width: 100%;
  margin-left: 0%;
  height: 200px;
  overflow: auto;
  scrollbar-width: 1px;
}

.titulo {
  font-family: 'Lato', lato, Lato;
  color: rgb(150, 147, 147);
  width: 100%;
  background-color: rgba(110, 102, 102, 0.7);
  margin-bottom: 5px;
  border-radius: 0px 20px 20px 0px;
  text-align: center;
}

.atras1 {
  margin-left: 0%;
  padding-left: 0%;

}

.atras2 {
  margin-right: 0%;
  padding-right: 0%;
}

.footer1 {
  height: 40px;
  background-color: rgba(110, 102, 102, 0.7);
  border-radius: 0px 20px 20px 0px;
}

.footerBoton {
  height: 40px;

}

.image-link {
  padding: 2px;
  background-color: rgba(110, 102, 102, 0.7);
  border-radius: 20px 20px 20px 20px;
  height: 35px;
  width: 35px;
  margin-top: 3px;
}

.footer3 {
  height: 40px;
  background-color: rgba(110, 102, 102, 0.7);
  border-radius: 20px 0px 0px 20px;
}

.footertexto {
  font-size: 14pt;
  font-family: 'Lato', lato, Lato;
  color: white;
  padding: 3px 50px;
}

.pie {
  margin-top: 20px;
}