*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  /* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3.5px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(60, 60, 61);
  border-radius: 5px;
  border: 3px solid rgb(182, 181, 181);
}
body{
    background: rgb(0, 0, 0);
    background-image: url("../img/Fondos/fondo_nuevo_5.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
};
.detalles-img{
  width: 500px;
  display: flex;
  align-items: center;
  padding: 10px;
    height: fit-content;
  border-radius: 20px;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  height: auto;
  width: 600px;
  max-height: 600px;
  min-width: 600px;
  min-height: auto;
  background-color: rgba(138, 138, 138, 0.4);
  }
  .pie{
    margin-top: 20px;
  }
/* @media (max-width: 500px)and (min-width:401px){
  .divmapa {
    align-items: center;
    width: 350px;
  }
  
}
@media (max-width: 400px) and (min-width:301px){
  .divmapa {
    align-items: center;
    width: 350px;
  }
  
}
@media (max-width: 300px) and (min-width:200px){
  .divmapa {
    align-items: center;
    width: 350px;
  }
  
} */
@media screen and (max-width: 1000px) {
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  .divmapa {
    align-items: center !important;
    height: 100% !important;
  }
  .botones-container{
    flex-direction:row !important;
    justify-content:space-around!important;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
    margin-left: 0% !important; 
    margin-right: 0% !important;
  }
  .botones-container .btn-img{
    width: 75px;
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .footertexto{
    font-size: 10pt !important;
    font-family:'Lato',lato,Lato;
    color: white;
    padding:3px 0px !important;
  }
  .footer1{
    height: 0% !important;
   }
  .descrip-res{
    margin-top:20px;
    padding:0 12px !important;
    align-items: center;
   }
   .descr-1{
    padding:0 12px !important;
    padding-left: 0;
   }
   .footer3{
    height: 25px !important;
    background-color: rgba(71, 71, 71, 0.7);
    border-radius:20px 0px 0px 20px;
    margin-bottom: 0% !important;
  }
  .imagenes{
    border-radius: 20px;
    height: 450px !important;
    max-height: 600px;
    max-width: 600px;
    border-radius: 20px;
  }
  .geo{
    height: 450px !important;
    /* width: 500px;
    max-height: 600px;
    max-width: 600px;
    border-radius: 20px; */
    /* margin-left: 32px;
    margin-top:100px; */
  }
  .descripcion1{
    margin-top: 20px;
    border-radius:20px !important;
    height: auto !important;
    overflow: auto !important;
    scrollbar-width: 0.5px !important;
   }
   .descripcion2{
    border-radius:20px !important;
    height: auto !important;
    overflow: auto !important;
   }
   .titulo{
    border-radius:20px !important;
  }
}
@media screen and (max-width: 300px) {
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  .divmapa {
    align-items: center !important;
    height: 100% !important;
  }
  .botones-container{
    flex-direction:row !important;
    justify-content:space-around!important;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
    margin-left: 0% !important; 
    margin-right: 0% !important;
  }
  .imagenes{
    border-radius: 20px;
    height: 450px !important;
    max-height: 600px;
    max-width: 600px;
    border-radius: 20px;
  }
  .botones-container .btn-img{
    width: 75px;
    height: 75px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .descrip-res{
    margin-top:20px;
    padding:0 12px !important;
    align-items: center;
   }
   .descr-1{
    padding:0 12px !important;
    padding-left: 0;
   }
  .footertexto{
    font-size: 10pt !important;
    font-family:'Lato',lato,Lato;
    color: white;
    padding:3px 3px !important;
  }
  .footer1{
    height: 0% !important;
   }
   .footer3{
    height: 25px !important;
    background-color: rgba(71, 71, 71, 0.7);
    border-radius:20px 0px 0px 20px;
  }
  .geo{
    height: 450px !important;
    /* width: 500px;
    max-height: 600px;
    max-width: 600px;
    border-radius: 20px; */
    /* margin-left: 32px;
    margin-top:100px; */
  }
  .descripcion1{
    margin-top: 20px;
    border-radius:20px !important;
    height: auto !important;
    overflow: auto !important;
    scrollbar-width: 0.5px !important;
   }
   .descripcion2{
   border-radius:20px !important;
   height: auto !important;
   overflow: auto !important;
  }
  .titulo{
    border-radius:20px !important;
  }
}


.divmapa{
  min-width: 300px;
  max-width: 500px;
  height: 450px;
  width: 470px;
  padding: 0%;/* 
  margin-left:auto ;
  margin-right:auto ; */
  border-radius: 20px;
}
.geo{
    height: 600px;
    width: 500px;
    max-height: 600px;
    max-width: 600px;
    border-radius: 20px;
    /* margin-left: 32px;
    margin-top:100px; */
  }
  .seccion-mapa{
    padding-left: 0px;
    width: fit-content;
    margin-right: 30px;
  }
  .botones-container{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 35%;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
  }
.titulo{
  font-family:'Lato',lato,Lato;
  color: rgb(255, 255, 255);
  width: 100%;
  background-color: rgba(71, 71, 71, 0.7);
  margin-bottom: 5px;
  border-radius:0px 20px 20px 0px;
  text-align: center;
}
  .descripcion1{
    font-size: 14pt;
    font-family:'Lato',lato,Lato;
    color: white;
    padding:3px 50px;
    border-radius:0px 20px 20px 0px;
    background-color: rgba(71, 71, 71, 0.7);
    width: 100%;
    margin-left: 0%;
    height: 200px;
    overflow: auto;
    scrollbar-width: 1px;
   }

   .descripcion2{
    padding:3px 50px;
    font-size: 14pt;
    font-family:'Lato',lato,Lato;
    color: white;
   width: 100%;
   border-radius:20px 0px 0px 20px;
   background-color: rgba(71, 71, 71, 0.7);
   margin-right: 0%;
   height: 238px;
   overflow: auto;
  }

  .botones-container img{
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    height: 100px;
    width:  100px;
    border: 4px solid rgb(0, 0, 0) ;
    background-color:rgba(71, 71, 71, 0.7) ;
    color: rgb(167, 167, 167);

  }
  .botones-container .btn-activo {
    opacity: 1 !important;
    background-color:rgba(71, 71, 71, 1) !important;

  }
  .botones-container .btn-desact{
    opacity: 0.5 !important;
    border-style: dotted !important;
  }
  
/* .divmapa path{
    fill:#f0e68c;
    stroke: #8b4513;
    stroke-width: 2px;

} */

 .footerBoton{
  height: 40px;
  
}
.footer3{
  height: 35px;
  background-color: rgba(71, 71, 71, 0.7);
  border-radius:20px 0px 0px 20px;
}
.footertexto{
  font-size: 14pt;
  font-family:'Lato',lato,Lato;
 color: white;
 padding:3px 50px;
}

.image-link{
  padding: 2px;
  background-color: rgba(71, 71, 71, 0.7);
  border-radius:20px 20px 20px 20px;
  height: 35px;
  width: 35px;
  margin-top: 3px;
}
.footer1{
  height: 35px;
  background-color: rgba(71, 71, 71, 0.7);
  border-radius:0px 20px 20px 0px;
 }

 .detalles-img img{
  border-radius: 10px;
  overflow: hidden;
}

.detalles-img h3,   
.detalles-img h4{
  text-align: center;
  font-size: 20px;
}
.detalles-img{
  display: flex;
  align-items: center;
  padding: 10px;
  height: fit-content;
  border-radius: 20px;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  height: auto;
  width: 1000px;
  max-height: 600px;
  min-width: 600px;
  min-height: auto;
  background-color: rgba(138, 138, 138, 0.4);
  
  
 
}
.imagenes{
  border-radius: 20px;
  height: 800px;
  width: 450px;
  max-height: 600px;
  max-width: 600px;
  border-radius: 20px;
}
.descrip-res{
  padding-right: 0;
 }
 .descr-1{
  padding-left: 0;
 }

 #El_Leoncito{
  cursor:pointer;
 }
 #El_Leoncito{
  cursor:pointer;
 }
 #El_Leoncito{
  cursor:pointer;
 }
 #El_Leoncito{
  cursor:pointer;
 }
 #El_Leoncito{
  cursor:pointer;
 }
 #Barreal_Blanco_2{
  cursor:pointer;
 }
 #Barreal_Blanco{
  cursor:pointer;
 }
 #Parque_Natural_Manantiales{
  cursor:pointer;
 }
 #Don_Carmelo{
  cursor:pointer;
 }
 #Parque_Provincia_Ischigualasto{
  cursor:pointer;
 }
 #La_Cienaga{
  cursor:pointer;
 }
 #San_Guillermo{
  cursor:pointer;
 }
 #Balde_Leyes{
  cursor:pointer;
 }
 #PNVF{
  cursor:pointer;
 }
 #Centro{
  cursor:pointer;
 }
 #Guanacache{
  cursor:pointer;
 }
 #Pedernal{
  cursor:pointer;
 }
 #El_Leoncito{
  cursor:pointer;
 }
 #El_Leoncito{
  cursor:pointer;
 }
 #El_Leoncito{
  cursor:pointer;
 }
 #El_Leoncito{
  cursor:pointer;
 }
 #El_Leoncito{
  cursor:pointer;
 }
 #El_Leoncito{
  cursor:pointer;
 }